
.WB_media_a_mn li img {
    border-radius: 0;
}

.WB_media_a_m1 .WB_pic {
	border-radius: 0;
}

.WB_feed_v3 .WB_from {
    margin-bottom: 2px;
    font-size: 12px;
}

.S_txt2 a {
    color: #808080;
    text-decoration: none;
}
