---
layout: page
title: Weibo_favorites
---
{% for f in site.data.favorites limit:50 offset:0 %}
<div class="WB_feed_detail clearfix" node-type="feed_content">
<div class="WB_face W_fl">
    <div class="face">
        <img usercard="id=3369755644&amp;refer_flag=" title="" alt="" width="50" height="50" src="{{f.status.user.profile_image_url}}" class="W_face_radius">
    </div>
</div>
<div class="WB_detail">
    <div class="WB_info">
        <a suda-uatrack="key=feed_headnick&amp;value=pubuser_nick:4017819366758684" target="_blank" class="W_f14 W_fb S_txt1" nick-name=""
            title="" href="" usercard="id=3369755644&amp;refer_flag=">{{f.status.user.name}}</a>
        <a target="_blank" title="带着微博去旅行">
            <i class="W_icon icon_airball"></i>
        </a>
    </div>
    <div class="WB_from S_txt2">
        <a target="_blank" href="/1593933550/EmgaJ6MJW?ref=collection" title="2016-12-15 21:00" date="1481806803000" class="S_txt2" node-type="feed_list_item_date" suda-data="key=tblog_home_new&amp;value=feed_time:4053053851617328">{{f.status.created_at}}</a>
        来自 
        {{f.status.source}}
    </div>
    <div class="WB_text W_f14" node-type="feed_list_content">
        {{f.status.text}}
    </div>
    {% if f.status.pic_urls.size > 0 %}
        <div class="WB_media_wrap clearfix" node-type="feed_list_media_prev">
            <div class="media_box">
                <!--图片个数大于1，不渲染卡片-->
                <!--TODO 只显示图片-->
                <!--picture_count == 9-->
                <ul class="WB_media_a WB_media_a_mn WB_media_a_m9 clearfix" node-type="fl_pic_list" action-data="uid=1593933550&amp;pic_ids=5f017eeegw1farf2ov4kkj20xc0m8jym,5f017eeegw1farf2pm7dwj20r80fbjy0,5f017eeegw1farf2qracvj20xc0pagv1,5f017eeegw1farf2r8y40j20zk0msqd3,5f017eeegw1farf2rmqo5j20xc0fagrh,5f017eeegw1farf2s2jabj218g0xcah8,5f017eeegw1farf2td8w9j20sg0lcwp4,5f017eeegw1farf2u75coj20qo0hsn7p,5f017eeegw1farf2v0ie5j20ir09gwi5&amp;mid=4053053851617328&amp;pic_objects=&amp;object_ids=1042018%3A9adbfe76533cd922c88a96f4e879eaa1%2C1042018%3A3d4b63af82b4ff542b041f852380f585%2C1042018%3Aff61f3fb89127b958735ba5fc1d1fabb%2C1042018%3A76004d939878125bd42bd594efdbb477%2C1042018%3A238da7e14a8352e4be086e08aad73fe5%2C1042018%3Ab8ccedd30a6db9ddd368e37e1862d498%2C1042018%3A34f14cc101d2bff356b5868a196126e2%2C1042018%3Ab3ff5e9cf66c98a19d8c51321841d305%2C1042018%3Aa7d4790c023bb04b1939a26b612da9dc&amp;photo_tag_pids=">
                    {% for pic in f.status.pic_urls %}
                    <li class="WB_pic li_{{ forloop.index }} S_bg1 S_line2 bigcursor" action-data="pic_id=5f017eeegw1farf2ov4kkj20xc0m8jym" action-type="fl_pics" suda-uatrack="key=tblog_newimage_feed&amp;value=image_feed_unfold:4053053851617328:5f017eeegw1farf2ov4kkj20xc0m8jym">
                        <img src="{{pic.thumbnail_pic}}">
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% if f.status.retweeted_status %}
    <div class="WB_feed_expand">
        <div class="W_arrow_bor W_arrow_bor_t"><i class="S_bg1_br"></i></div>
        <div class="WB_expand S_bg1" node-type="feed_list_forwardContent">
            <div class="WB_info">
                <a target="_blank" suda-uatrack="key=feed_headnick&amp;value=transuser_nick:4017499345626797" class="W_fb S_txt1" node-type="feed_list_originNick"
                    nick-name="" href="" title="" usercard="id=5433674303&amp;refer_flag=">{{f.status.retweeted_status.user.name}}</a>
                <a target="_blank" title="带着微博去旅行"><i class="W_icon icon_airball"></i></a>
            </div>
            <div class="WB_text" node-type="feed_list_reason">
                {{f.status.retweeted_status.text}}
            </div>
            <!-- 微博心情，独立于标准的ul节点 -->

            {% if f.status.retweeted_status.pic_urls.size > 0 %}
            <div class="WB_media_wrap clearfix" node-type="feed_list_media_prev">
                <div class="media_box">
                    <!--图片个数等于1，只显示图片-->

                    <!--picture_count == 1-->
                    <ul class="WB_media_a  WB_media_a_m1 clearfix">
                        <li class="WB_pic li_1 S_bg1 S_line2 bigcursor li_n_mix_w" action-data="pid=005VJ8U7jw1f7mcgyvdtcj30xy0v4n6h&amp;object_ids=1042018%3A956db3dfeb0400bc26d9e664024ca036&amp;photo_tag_pids=&amp;uid=5433674303&amp;mid=4017499345626797&amp;pic_ids=005VJ8U7jw1f7mcgyvdtcj30xy0v4n6h&amp;pic_objects="
                            action-type="feed_list_media_img" suda-uatrack="key=tblog_newimage_feed&amp;value=image_feed_unfold:4017499345626797:005VJ8U7jw1f7mcgyvdtcj30xy0v4n6h">
                            <img src="{{f.status.retweeted_status.bmiddle_pic}}">
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
            <div class="WB_func clearfix">
                <div class="WB_handle W_fr" mid="4052741283647207">
                </div>
                <div class="WB_from S_txt2">
                    <a class="S_txt2" target="_blank" href="/2794283127/Em82AfiNV" title="2016-12-15 00:18"
                       date="1481732281000" node-type="feed_list_item_date"
                       suda-uatrack="key=feed_trans_weibo&amp;value=time:4052741283647207">{{f.status.retweeted_status.created_at}}</a> 来自
                    {{f.status.retweeted_status.source}}
                </div>
            </div>

        </div>
    </div>
    {% endif %}
    <!-- feed区组件_收藏tag -->
    <div class="WB_tag WB_tag_v2  clearfix S_txt2">
        <span class="W_fr">收藏于{{f['favorited_time_str']}}</span>
    </div>
    <!-- /feed区组件_收藏tag -->
</div>
</div>
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

<script type="text/javascript">
    $(document).ready(function(){
        var autolinker = new Autolinker( {
            urls : {
                schemeMatches : true,
                wwwMatches    : true,
                tldMatches    : true
            },
            email       : true,
            phone       : true,
            mention     : 'weibo',
            hashtag     : false,

            stripPrefix : true,
            newWindow   : true,

            truncate : {
                length   : 0,
                location : 'end'
            },

            className : ''
        } );

        $('.WB_text').each(function(i, obj) {
            $(obj).innerHTML = autolinker.link( $(obj).innerHTML );
        });
    });
</script>
